body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'); */
  /* background-size: cover; */
  background-color: rgb(25, 26, 29);

}
